.cabecarro{
  color: black;
  border: solid   3px black;
  width: 1300px;
  background-color:rgba(247, 177, 0, 0.977)
  
}

.imgC{
    width:350px;
    height:390px;
}
body{
    background: linear-gradient(#D97B29,#A63B14, #401404 );
}
.quatro{
    width:1300px;
    height:200px;
    border: 2px solid; 
    background-color: #DBBC8F;
    border-color:black;  
}
.letraC{
    color: #F2E313;
}
.fundo{
    width:1300px;
    height:200px;
    border: 2px solid; 
    background-color: #A63B14;
    border-color:black;  
}
.imgD{
    width:150px;
    height:190px;
}
.carousel-control-next-icon{
    color: red;
    background-color: red;
}
.carousel-control-prev-icon{
    color: red;
    background-color: red;
}
@media (max-width: 460px) {
   .cabecarro{width:270% !important;height: 90% !important; margin-left: 20%}
   .ImagemPr{width:270% !important;height: 90% !important; margin-left: 20%}
   .Titulo01{width:270% !important;height: 90% !important; margin-left: 100%}
   .Div_pro{width:270% !important;height: 90% !important; margin-left: 20%}
   .Carol{width:270% !important;height: 90% !important; margin-left: 20%}
   .Titulo02{width:270% !important;height: 40% !important; margin-left: 10%}
   .ImagemMeio{width:270% !important;height: 90% !important; margin-left: 25%;margin-top: 2%;}
   .quatro{width:270% !important;height: 90% !important; margin-left: 10%}
   .Rodape{width:270% !important;height: 100% !important; margin-left: 10%}
  }

 .tudo a:visited {
     color: rgb(255, 183, 0);
 }
.tudo a:hover {
     color: #000000;
 }
 .tudo a:active {
     color: blue;
 }
